<body>
    <!--
    <div class="text-center">
        <h1>Results</h1>
        <br>
    </div>
  -->

  <% if @result.size > 0 && @result != nil %>
  <div class="text-center page-header result-header">
  	<h2>
  		<%= 
  			# Neat code but will capitalize "Of"
  			# @result.first.organization.titleize
  			org = ""
  			@result.first.organization.split.each do |word|
  				word.upcase == "OF" ? word.downcase! : word.capitalize!
  				org += word + " "
  			end
  			org
  		%> 
  		<%= @result.first.year %>
  	</h2>
  	<!-- <br> -->
  </div>

  <table class="table table-condensed table-hover">
  	<thead>
  		<tr>
  			<th>Number</th>
  			<th>Name</th>
  			<th>Title</th>
  			<th><div class="text-right">Salary ($)</div></th>
  			<th><div class="text-right">Travel Fees ($)</div></th>
  		</tr>
  	</thead>

  	<tbody>
  		<% if @result.size > 0 && @result != nil %>
  		<% i = 0 %>
  		<% @result.each do |row| %>
  		<tr>
  			<td><%= i += 1 %></td>
  			<td><%=	row_name = row.name.split(',').join(', ') %></td>
  			<td><%= row.title %></td>
  			<!-- display the salary with 2 decimal precision -->
  			<td class="text-right"><%= sprintf '%.2f', row.salary %></td>
  			<td class="text-right"><%= sprintf '%.2f', row.travel_fees %></td>
  		</tr>
  		<% end %>
  		<% end %>
  	</tbody>
  </table>

  <div class="text-center custom-link-color">
  	<button type="submit" class="btn btn-success">
  		<a href="/">Search Again</a>
  	</button>
  </div>

  <% else %>
  <div class="text-center index-header">
  	<h2>Sorry we could not parse your input</h2>
  </div>

  <div class="text-center custom-link-color">
  	<button type="submit" class="btn btn-danger">
  		<%= link_to 'Try Again', '/' %>
  	</button>
  </div>
  <% end %>        

</body>