<body>
<div class="text-center page-header index-header">
  <!--<h2>Ever Wonder What Your Professors Make?</h2>-->
  <h2>Ever wonder what your professors make?</h2>
</div>

<%= bootstrap_form_tag url: '/index' do |f| %>
    <div class="jumbotron">
      <!-- commented -->
      <% if false %>
          <%= f.check_box :exact_name, label: 'Match name exactly' %>
          <%= f.check_box :exact_title, label: 'Match title exactly' %>
      <% end %>

      <%= f.text_field :name, hide_label: true, placeholder: 'Name (Required)', required: true %>
      <%= f.text_field :title, hide_label: true, placeholder: 'Title (Optional)' %>
      <!-- selected: "University of Georgia" -->
      <%= f.select :organization, options_from_collection_for_select(@organizations, :name, :name), hide_label: true %>
      <%#= f.select :year, options_from_collection_for_select(@years, :year, :year), hide_label: true, disabled: true %>
      <%= f.select :sort, options_for_select(@sorts.collect { |s| [s, s] }), hide_label: true %>
    </div>

    <div class="text-center">
      <!-- <button type="submit" class="btn btn-primary">Search Your Professor</button> -->
      <!-- Same as above -->
      <%= f.submit "Search Your Professor", class: "btn btn-primary" %>
    </div>
<% end %>
</body>

