/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";


 /* body */
 body { 
   padding-top: 30px; // avoid top nav bar covering content
   padding-bottom: 30px; // avoid the bottom element from touching the bottom border
   //background-color: #283540;
 }


 /* header */
 div.header-link {
  /*text-align: center;*/
  text-align: right;
 }


 /* footer */
 footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer ul {
  /*text-align: center; */
  text-align: center;
  color: #555;
}

footer a:hover {
  color: #222;
}

footer ul {
  list-style: none;
}

footer ul li {
  /*float: left; */
  /*margin-left: 15px; */
  /*margin-right: 35px;*/
  display: inline;
}


